{% extends "layout.html" %}

{% block title %}Expiring Documents{% endblock %}

{% block content %}

    <h2>Privacy Policy</h2>

    <p>ConComply respects your privacy. We collect limited data such as your email, submitted files, and basic usage logs. This data is used solely to operate and improve the service.

    All documents are stored securely using AWS S3. We do not share your data with third parties.

    You may request deletion of your account and data at any time by contacting us at [your email].

    This policy may be updated as the service evolves.</p>

{% endblock %}