{% extends "layout.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
    <h1>Projects</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
       <div class="flash-messages">
        {% for message in messages %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
       </div>
    {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" name="project_number" placeholder="Project Number" autocomplete="off" required>
        <input type="text" name="project_name" placeholder="Project Name" autocomplete="off" required>
        <br>
        <button type="submit">Add Project</button>
    </form>

    <h2>Your Projects</h2>

    

    <ul>
        {% for project in projects|reverse %}
            <li><strong>{{ project.project_number }}</strong>: {{ project.project_name }}</li>
        {% else %}
            <p>No projects yet.</p>
        {% endfor %}
    </ul>

{% endblock %}
