{% extends "layout.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
    

    {% with messages = get_flashed_messages() %}
    {% if messages %}
       <div class="flash-messages">
        {% for message in messages %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
       </div>
    {% endif %}
    {% endwith %}

    <form method="POST">
        <h2>Create a Project</h2>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" name="project_number" placeholder="Project Number" autocomplete="off" required>
        <input type="text" name="project_name" placeholder="Project Name" autocomplete="off" required>
        <br>
        <button type="submit">Add Project</button>
    </form>

    <h2>Existing Projects</h2>

    {% if projects %}
    <table>
        <thead>
            <tr>
                <th>Project Number</th>
                <th>Project Name</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects|reverse %}
            <tr>
                <td>{{ project.project_number }}</td>
                <td>{{ project.project_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No projects yet.</p>
    {% endif %}

{% endblock %}
