<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
<h3>Your Subcontractors</h3>
{% if subs %}
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Token</th>
        <th>Actions</th>
    </tr>
    {% for sub in subs %}
    <tr>
        <td>{{ sub['login'] }}</td>
        <td>{{ sub['email'] }}</td>
        <td>{{ sub['token'] }}</td>
        <td><form method="post" action="/delete_sub">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="token" value="{{ sub['token'] }}">
            <button type="submit">Delete</button>
        </form></td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No subcontractors yet.</p>
{% endif %}

</body>
</html>