<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submitter Login</title>
</head>
<body>

    <h1>Submitter Login</h1>

    <form method="POST">
        <label>Login:</label><br>
        <input type="text" name="login" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>

    <br>
    <a href="/registration/yourtokenhere">Need to register? (Admins send you a link)</a>

</body>
</html>
